/*! =============================================================================
   TABLE
   ========================================================================== */

table.data {
	width: 100%;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}
table.data thead tr{ color: #FFF; background-color: $blue;}
table.data tfoot tr{ background-color: #e9f0f3;}
table.data thead th{ text-align:center !important; }
table.data th { padding: 10px; border-right-width: 1px; border-right-style: solid; border-right-color: $blue; }
table.data td { padding: 10px; border-right-width: 1px; border-right-style: solid; border-right-color: $grayLighter; text-align:center; }
table.data table tr th { padding: 5px !important;  }
table.data table tr td { padding: 5px !important;  }
table.data td.last, table.data tr td:last-child { border-right-style: none; }
table.data td.datawidth { width: 35%; }
table.data tr.even, table.data tbody tr:nth-child(even) { background-color: #F4F4F4; }


@media only screen and (max-width: 650px) {
	
	/* Force table to not be like tables anymore */
	.no-more-tables table, 
	.no-more-tables thead, 
	.no-more-tables tbody, 
	.no-more-tables th, 
	.no-more-tables td, 
	.no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	.no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.no-more-tables tr { border: 1px solid #ccc; }
 
	.no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50% !important; 
		white-space: normal;
		text-align:left !important;
	}
 
	.no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	.no-more-tables td:before { content: attr(data-title); }
}